.abc{
    min-width: 100%;
    max-width: 100%;
}
.select{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 5px;
   
}
.mat-icon{
  color:#797b7e;
}
 
  .bts{
    margin-top: 6px;
  }
    label {
      padding: 4px;
      font-weight: 550;
      margin-bottom: 4px;
    }
  
  
    .filter{
      margin-bottom: 5px;
    }
    .mat-menu-item.mat-menu-item-submenu-trigger::after{
      transform: rotate(0deg)
    }