<!-- <div class="row">
    <mat-card class=" col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <mat-card-title>Schedule Maintenance and Notification</mat-card-title>
    </mat-card>
    <mat-card class=" col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <mat-card-title>Products and Services</mat-card-title>
    </mat-card>

    <mat-card class=" col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <mat-card-title>Products and Services</mat-card-title>
    </mat-card>

    <mat-card class=" col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <mat-card-title>Products and Services</mat-card-title>
    </mat-card>
</div> -->

<div class="row">
    <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="card card-chart">
            <div class="card-header">
                <h5>Announcements</h5>
            </div>
            <div class="card-body">
                <p class="card-category">
                    <b style="opacity: 0.5;">No announcements</b>
                </p>
            </div>
        </div>
    </div>

    <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="card card-chart">
            <div class="card-header">
                <h5>Schedule Maintenance and Notification</h5>
            </div>
            <div class="card-body">
                <p class="card-category">
                    <b>General: Daily 17:30 - 20:00</b>
                </p>
                <p>
                    This instance of the system may be unavailable due to routine system maintenance during this time frame.
                </p>
            </div>
        </div>
    </div>

    <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="card card-chart">
            <div class="card-header">
                <h5>Constant Access to Innovation</h5>
            </div>
            <div class="card-body">
                <mat-accordion>
                    <mat-expansion-panel expanded="true">
                        <mat-expansion-panel-header>
                            <mat-panel-title class="expansion-heading">
                                <p>
                                    <b>FY-Q4 New Features</b>
                                </p>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>General::Added Support html Formatting to Shift Log</p>
                        <p>General::Enhanced SCADA Data Gathering and Recovery Interface</p>
                        <p>ETAG Service::Enhanced IRE Web Registry Interface</p>
                        <p>Gas::Enhanced the Usability of Gas Burner-Tip Calculator</p>
                        <p>Load Forecaster::Added Weather Sensitivity to the "Review LSEG*" screen - Filter, Group by, and Subdivide
                            by
                        </p>
                        <p>GenScheduler::Added Shift Log Functionality</p>
                        <p>ISONE: Added Support for Scheduling Imports & Exports</p>
                        <p>ISONE::Added Support for Virtual Bids and Offers</p>
                        <p>NYISO::Enhanced Scheduling Functionality</p>
                        <!-- <p>NYISO::Added Scheduling Support to use ISO API</p>
                        <p>NYISO::Added Support for Scheduling Imports & Exports</p>
                        <p>PJM: :Added Support for Scheduling Imports & Exports</p>
                        <p>PJM::Enhanced Settlement Allocations Engine</p>
                        <p>PJM::Added External Trades Transfer Functionality</p>
                        <p>RTO/ISO::Added Virtual Bids to Power Scheduling Service</p> -->
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title class="expansion-heading">
                                <p>
                                    <b>FY-Q3 New Features</b>
                                </p>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>General: Enhanced Repository for Report Storage</p>
                        <p>General: Optimized Faster Screen Startups</p>
                        <p>E-Tag: Automate Dynamic ATF Tag Updates</p>
                        <p>Gas: Enhance Transportation Templates For Scheduling</p>
                        <p>Risk Mgr: Enhanced Mark-to-Market "Force Re-Evaluation" Process</p>
                        <p>GenScheduler: Added New Functionality to Facilitate Dynamic Scheduling</p>
                        <p>CISO: Added Shadow-Settlement for CRR 6700 Charge</p>
                        <p>ERCOT: Add DAM Bids/Offers to ERCOT Position Screen</p>
                        <p>MISO: Added New Functionally For Sub-Participant Allocation</p>
                        <p>MISO: Added New Functionally For Sub-Participant Allocation Invoice Report</p>
                        <!-- <p>MISO: Implemented 5 Minute Settlement</p>
                        <p>MISO: Implemented ARR Shadow Settlements</p>
                        <p>MISO: Implemented FTR P&L Report</p>
                        <p>MISO: Enhanced DART API</p>
                        <p>PJM: Implemented Single Sign On (SSO) Authentication</p>
                        <p>PJM: Enhanced Offer Update Schedule Functionality</p>
                        <p>PJM: Enhanced Settlement Statement Processing</p>
                        <p>PJM: Added New Functionally For Sub-Participant Allocation</p> -->
                    </mat-expansion-panel>
                </mat-accordion>

            </div>
        </div>
    </div>
    
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="card card-chart">
            <div class="card-header">
                <h5>Products and Services</h5>
            </div>
            <div class="card-body">
                <mat-accordion>
                    <mat-expansion-panel expanded="true">
                        <mat-expansion-panel-header>
                            <mat-panel-title class="expansion-heading">
                                <p>
                                    <b>Manage supply</b>
                                </p>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>Participant with Resources?
                            <span style="opacity:0.5;">Learn more</span>
                        </p>

                        <p>Competitive Load Serving Empty?
                            <span style="opacity:0.5;">Learn more</span>
                        </p>

                        <p>Jointly Owned Generator?
                            <span style="opacity:0.5;">Learn more</span>
                        </p>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title class="expansion-heading">
                                <p>
                                    <b>Submit & Settle</b>
                                </p>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>ISO MArket Participant?
                            <span style="opacity:0.5;">Learn more</span>
                        </p>

                        <p>ISO Prices?
                            <span style="opacity:0.5;">Learn more</span>
                        </p>

                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title class="expansion-heading">
                                <p>
                                    <b>Connect the Dots</b>
                                </p>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>WattExpert does your heavy lifting?
                            <span style="opacity:0.5;">Learn more</span>
                        </p>
                    </mat-expansion-panel>

                </mat-accordion>
            </div>
        </div>
    </div>
</div>