<section>
  <div class="dashboard-header">
    <div class="member_side">
      <p>Member Since :
        <span class="ml-3">4/19/2019</span>
      </p>
      <p class="ml-3">Renewal Date :
        <span class="ml-3">6/19/2020</span>
      </p>
    </div>
    <!--  -->
    <div  class="id_side">
      <div class="text-right">
        <h5 class="mb-0 id_name">Daved Wiliamson<br>
        <small>Resturant</small>
        </h5>
      </div>
      <!-- img -->
      <div class="img_div">
        <img src="../../assets/img/icon-facebook.png" alt="img">
      </div>
      <div class="arrow_div">
        <a href="#">
          <i class="fa fa-angle-down"></i>
        </a>
      </div>
    </div>


  </div>
  <div class="dashboard-body">
    <div class="upper-graphs">
      <div class="graph_div">
        <div>
          <i class="fa fa-plug"></i>
        </div>
      </div>
    </div>
  </div>
</section>