<section>
  <div class="dashboard-header">
    <div class="member_side">
      <p>Member Since :
        <span class="ml-3">4/19/2019</span>
      </p>
    </div>
    <!--  -->
    <div>
      <h4 class="heading_sh">
        <b> Daily Energy Monitoring  </b>
      </h4>
    </div>
    <div  class=" member_side">
      <p class="m-0">Renewal Date :
        <span class="ml-3">6/19/2020</span>
      </p>
    </div>
  </div>

  <!--  -->
  <div class="dashboard-body">
   
    <div class="upper-graphs">
      <!-- Graph Div start -->
      <div class="graph_div">
        <!-- icon and heading  start-->
        <div class="this_week">
          <div class="icon_div blue_icon">
            <i class="fa fa-plug"></i>
          </div>
          <small>This Week vs Last Week </small>
        </div>
        <!--  icon and heading end -->
        <!-- data compare start -->
        <div class="compare_start">
            <canvas id="chart4">
                {{chart4}}
              </canvas>
          <!-- <h4>13.5%
            <i class="fa fa-arrow-up"></i>
            <i class="fa fa-arrow-down dp_none"></i>
          </h4>
          <small> 68.71K vs 60.56K</small> -->
        </div>
        <!-- data compare End -->
        <!-- <div>
          <div>
            <h4>show Graph here</h4>
          </div>
        </div> -->
      </div>
      <!-- Graph Div end -->
      <!-- Graph Div start -->
      <div class="graph_div">
        <!-- icon and heading  start-->
        <div class="this_week">
          <div class="icon_div green_icon">
            <i class="fa fa-cloud" aria-hidden="true"></i>
          </div>
          <small>This Week vs Last Week </small>
        </div>
        <!--  icon and heading end -->
        <!-- data compare start -->
        <div class="compare_start">
          <!-- <h4>13.5%
            <i class="fa fa-arrow-up"></i>
            <i class="fa fa-arrow-down dp_none"></i>
          </h4>
          <small> 68.71K vs 60.56K</small> -->
          <!-- <canvas id="chart3">
              {{chart3}}
            </canvas> -->
            <canvas id="chart5">
              {{chartdays}}
            </canvas>
        </div>
        
        <!-- <div>
          <div>
             
           
          </div>
        </div> -->
      </div>
      <!-- Graph Div end -->
    </div>
    <!--  -->
    <div class="lower_graphs">
      <div class="d-flex w-100 m-0">

        <!-- Graph Div start -->
        <div class="graph_div">
          <!-- icon and heading  start-->
          <div class="this_week">
            <p class="m-0 mb-1"><b>Peak 45 kWh at 10:00 PM On Wed</b></p>
            <small class="m-0 mb-1">Daily energy monitoring</small>
            <small class="m-0 mb-1"> Avg Temp</small>
          </div>
          <!--  icon and heading end -->
          <div class="chart-100">
            <div>
              <!-- <h4>show Graph here</h4>     -->
              <canvas id="chart1">
                {{chart}}
              </canvas>
            </div>
          </div>
        </div>
        <!-- Graph Div end -->
        <!-- Graph Div start -->
        <div class="graph_div ">
          <!-- icon and heading  start-->
          <div class="this_week">
            <p class="m-0 mb-1"><b>Peak 45 kWh at 10:00 PM On Wed</b></p>
            <small class="m-0 mb-1">Daily energy monitoring</small>
            <small class="m-0 mb-1"> Avg Temp</small>
          </div>
          <!--  icon and heading end -->
          <div class="chart-100">
            <div>
              <!-- <h4>show Graph here</h4>  -->
              <canvas id="chart2">
                {{chart2}}
              </canvas>
            </div>
          </div>
        </div>
        <!-- Graph Div end -->
      </div>
    </div>
    <!--  -->
    <div class="lower_graphs">
      <div class="d-flex w-100 mt-3">
        <!-- Graph Div start -->
        <div class="graph_div  w-100">
          <!-- icon and heading  start-->
          <div class="this_week">
            <!-- <p class="m-0 mb-1">
              <b>Busiest hour of day</b></p> -->
          </div>
          <!--  icon and heading end -->
          <div class="chart-100">
            <div>
                <!-- <canvas id="chart5"style="display: block; height: 300px; width: 600px;">
                    {{chartdays}}
                  </canvas> -->
                  <canvas id="chart3">
                    {{chart3}}
                  </canvas>
            </div>
          </div>
        </div>
        <!-- Graph Div end -->
      </div>
      <div class="d-flex w-100 mt-3">
      <!-- Graph Div start -->
      <div class="graph_div w-100">
        <!-- icon and heading  start-->
        <div class="this_week">
          <p class="m-0 mb-1"><b>Weather Impact</b></p>
        </div>
        <!--  icon and heading end -->
        <div class="chart-100">
          <div>
            <h4>show Graph here</h4>
          </div>
        </div>
      </div>
      <!-- Graph Div end -->
      </div>
    </div>
    <!--  -->
  </div>
</section>