<section>
  <div class="dashboard-header">
    <div class="member_side">
      <p>Member Since :
        <span class="ml-3">4/19/2019</span>
      </p>
      <p class="ml-3">Renewal Date :
        <span class="ml-3">6/19/2020</span>
      </p>
    </div>
    <!--  -->
    <div  class="id_side">
      <div class="text-right">
        <h5 class="mb-0 id_name">Daved Wiliamson<br>
        <small>Resturant</small>
        </h5>
      </div>
      <!-- img -->
      <div class="img_div">
        <img src="../../assets/img/icon-facebook.png" alt="img">
      </div>
<div class="arrow_div">
        <a href="#" >
          <i class="fa fa-angle-down"></i>
        </a>
      </div>
    </div>


  </div>
  <div class="dashboard-body">
      <h2  class="text-center heading_sh">Dashboard</h2>
    <div class="upper-graphs">
      <!-- Graph Div start -->
      <div class="graph_div">
        <!-- icon and heading  start-->
        <div class="this_week">
          <div class="icon_div blue_icon">
              <i class="fa fa-plug"></i>
          </div>
          <small>This Week vs Last Week </small>
        </div>
        <!--  icon and heading end -->
        <!-- data compare start -->
        <div class="compare_start">
          <h4>13.5% 
            <i class="fa fa-arrow-up"></i>
            <i class="fa fa-arrow-down dp_none"></i>
          </h4>
          <small> 68.71K vs 60.56K</small>
        </div>
        <!-- data compare End -->
        <div>
          <div>
           <h4>show Graph here</h4> 
          </div>
        </div>
      </div>
      <!-- Graph Div end -->
      <!-- Graph Div start -->
      <div class="graph_div">
        <!-- icon and heading  start-->
        <div class="this_week">
          <div class="icon_div red_icon">
              <i class="fa fa-bullseye" aria-hidden="true"></i>
          </div>
          <small>This Week vs Last Week </small>
        </div>
        <!--  icon and heading end -->
        <!-- data compare start -->
        <div class="compare_start">
          <h4>13.5%
            <i class="fa fa-arrow-up"></i>
            <i class="fa fa-arrow-down dp_none"></i>
          </h4>
          <small> 68.71K vs 60.56K</small>
        </div>
        <!-- data compare End -->
        <div>
          <div>
            <h4>show Graph here</h4>
          </div>
        </div>
      </div>
      <!-- Graph Div end -->
      <!-- Graph Div start -->
      <div class="graph_div">
        <!-- icon and heading  start-->
        <div class="this_week">
          <div class="icon_div yellow_icon">
              <i class="fa fa-ban" aria-hidden="true"></i>
          </div>
          <small>This Week vs Last Week </small>
        </div>
        <!--  icon and heading end -->
        <!-- data compare start -->
        <div class="compare_start">
          <h4>13.5%
            <i class="fa fa-arrow-up"></i>
            <i class="fa fa-arrow-down dp_none"></i>
          </h4>
          <small> 68.71K vs 60.56K</small>
        </div>
        <!-- data compare End -->
        <div>
          <div>
            <h4>show Graph here</h4>
          </div>
        </div>
      </div>
      <!-- Graph Div end -->
      <!-- Graph Div start -->
      <div class="graph_div">
        <!-- icon and heading  start-->
        <div class="this_week">
          <div class="icon_div green_icon">
              <i class="fa fa-cloud" aria-hidden="true"></i>
          </div>
          <small>This Week vs Last Week </small>
        </div>
        <!--  icon and heading end -->
        <!-- data compare start -->
        <div class="compare_start">
          <h4>13.5%
            <i class="fa fa-arrow-up"></i>
            <i class="fa fa-arrow-down dp_none"></i>
          </h4>
          <small> 68.71K vs 60.56K</small>
        </div>
        <!-- data compare End -->
        <div>
          <div>
            <h4>show Graph here</h4>
          </div>
        </div>
      </div>
      <!-- Graph Div end -->
    </div>
    <!--  -->
    <div class="lower_graphs">
        <div class="d-flex w-100 m-0">
          <div  class="small_graph  ">
        <!-- Graph Div start -->
          <div class="graph_div">
            <!-- icon and heading  start-->
            <div class="this_week">
              <p class="m-0 mb-1"><b>Peak 45 kWh at 10:00 PM On Wed</b></p> 
              <small class="m-0 mb-1">Daily energy monitoring</small>
              <small  class="m-0 mb-1"> Avg Temp</small>
            </div>
            <!--  icon and heading end -->
            <div>
              <div>
               <!-- <h4>show Graph here</h4>     -->
               <canvas  id="chart1">
                {{chart}}
              </canvas>   
              </div>
            </div>
          </div>
          <!-- Graph Div end -->
          </div>
          
          <div  class=" pr-0  wider_graph">
                  <!-- Graph Div start -->
          <div class="graph_div">
              <!-- icon and heading  start-->
              <div class="this_week">
                <p class="m-0 mb-1"><b>Busiest hour of day</b></p> 
              </div>
              <!--  icon and heading end -->
              <div>
                <div>
                 <h4>show Graph here</h4> 
                </div>
              </div>
            </div>
            <!-- Graph Div end -->
          </div>
        </div>
      </div>
      <!--  -->
    <div class="lower_graphs">
        <div class="d-flex w-100 m-0">
          <div  class="small_graph  pl-0">
        <!-- Graph Div start -->
          <div class="graph_div">
            <!-- icon and heading  start-->
            <div class="this_week">
              <p class="m-0 mb-1"><b>Peak 45 kWh at 10:00 PM On Wed</b></p> 
              <small class="m-0 mb-1">Daily energy monitoring</small>
              <small  class="m-0 mb-1"> Avg Temp</small>
            </div>
            <!--  icon and heading end -->
            <div>
              <div>
               <!-- <h4>show Graph here</h4>  -->
               <canvas  id="chart2">
                {{chart}}
              </canvas> 
              </div>
            </div>
          </div>
          <!-- Graph Div end -->
          </div>

          <div  class=" pr-0 wider_graph">
                  <!-- Graph Div start -->
          <div class="graph_div">
              <!-- icon and heading  start-->
              <div class="this_week">
                <p class="m-0 mb-1"><b>Weather Impact</b></p> 
              </div>
              <!--  icon and heading end -->
              <div>
                <div>
                 <h4>show Graph here</h4> 
                </div>
              </div>
            </div>
            <!-- Graph Div end -->
          </div>
        </div>
      </div>
      <!--  -->
  </div>
</section>