.abc{
    max-width:2200px;
    min-width:2200px;
    // overflow-x: scroll;
}
.table-container{
    max-height:100%;
}
.mat-column-1{
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 28% !important;
    width: 15% !important;
  }
  .mat-column-14,
  .mat-column-15,
  .mat-column-18,
  .mat-column-m_jan,
  .mat-column-m_feb,
  .mat-column-m_mar,
  .mat-column-m_apr,
  .mat-column-m_may,
  .mat-column-m_jun,
  .mat-column-m_jul,
  .mat-column-m_aug,
  .mat-column-m_sep,
  .mat-column-m_oct,
  .mat-column-m_nov,
  .mat-column-m_dec{
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 28% !important;
    width: 0% !important;
  }
  .example-container {
    height: 400px;
    overflow: auto;
  }
  ::ng-deep {
    .mat-dialog-container{
      padding:24px 0px 0px 0px !important;
    }
  }
