<section>
  <div class="dashboard-header">
    <div class="member_side">
      <p>Member Since :
        <span class="ml-3">4/19/2019</span>
      </p>
      <p class="ml-3">Renewal Date :
        <span class="ml-3">6/19/2020</span>
      </p>
    </div>
    <!--  -->
    <div  class="id_side">
      <div class="text-right">
        <h5 class="mb-0 id_name">Daved Wiliamson<br>
        <small>Resturant</small>
        </h5>
      </div>
      <!-- img -->
      <div class="img_div">
        <img src="../../assets/img/icon-facebook.png" alt="img">
      </div>
<div class="arrow_div">
        <a href="#" >
          <i class="fa fa-angle-down"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="dashboard-body">
    <h4 class="heading_sh">
      <b> Daily Energy Monitoring  </b>
    </h4>
    <div class="upper-graphs">
      <!-- Graph Div start -->
      <div class="graph_div">
        <!-- icon and heading  start-->
        <div class="this_week">
          <small>Minimum Usage </small>
          <h4> {{viewhourly.min_usage.min_usage}} </h4>
          <small class="font-12">AT {{viewhourly.min_usage.min_usage_hout}}</small>
        </div>
      </div>
      <!-- Graph Div end -->
      <!-- Graph Div start -->
      <div class="graph_div">
          <!-- icon and heading  start-->
          <div class="this_week">
            <small>Maximam Usage </small>
            <h4> {{viewhourly.max_usage.max_usage}} </h4>
            <small class="font-12">AT {{viewhourly.max_usage.max_usage_hout}}</small>
        
          </div>
        </div>
        <!-- Graph Div end -->
              <!-- Graph Div start -->
      <!-- <div class="graph_div">
           
          <div class="this_week">
            <small>Avg Temp </small>
            <h4> {{viewhourly}} </h4>
          </div>
        </div> -->
      
    </div>
    <!--  -->
    <div class="lower_graphs">
        <div class="d-flex w-100 m-0">
          
          <div  class=" pr-0  wider_graph">
                  <!-- Graph Div start -->
          <div class="graph_div">
              <!-- icon and heading  start-->
              <div class="this_week">
                <p class="m-0 mb-1"><b>Heading will be displayed here.</b></p> 
              </div>
              <!--  icon and heading end -->
              <div>
                <div>
                 <h4>show Graph here</h4> 
                 <canvas style="display: block; height: 600px; width: 1200px;" id="chart1">
                  {{chart}}
                </canvas>
                </div>
              </div>
            </div>
            <!-- Graph Div end -->
          </div>
        </div>
      </div>

  </div>
</section>