<section>
  <!-- <div class="dashboard-header"> -->
      <h4 class="heading_sh">
          <b> Daily Energy Monitoring  </b>
        </h4>
  <!-- </div> -->
  <div class="dashboard-body">
    <div class="upper-graphs">
      <!-- Graph Div start -->
      <div class="graph_div">
        <!-- icon and heading  start-->
        <div class="this_week">
          <small>Minimum Usage </small>
          <h4> {{viewhourly?.min_usage?.min_usage}} </h4>
          <small class="font-12">AT 
            <!-- {{viewhourly.min_usage.min_usage_hout}} -->
            {{mintime}}
          </small>
        </div>
      </div>
     
      <div class="graph_div">
          <!-- icon and heading  start-->
          <div class="this_week">
            <small>Maximam Usage </small>
            <h4> {{viewhourly?.max_usage?.max_usage}} </h4>
            <small class="font-12">AT
              <!-- {{viewhourly.max_usage.max_usage_hout}} -->
            {{maxtime}}
            </small>
        
          </div>
        </div>
     
      
    </div>
    <!--  -->
    <div class="lower_graphs">
        <div class="d-flex w-100 m-0">
          
          <div  class=" pr-0  wider_graph">
                  <!-- Graph Div start -->
          <div class="graph_div">
              <!-- icon and heading  start-->
              <div class="this_week">
                <!-- <p class="m-0 mb-1"><b>Heading will be displayed here.</b></p>  -->
              </div>
              <!--  icon and heading end -->
              <div class="chart-100">
                <div>
                 <canvas  id="chart1">
                  {{chart}}
                </canvas>
                </div>
              </div>
            </div>
            <!-- Graph Div end -->
          </div>
        </div>
      </div>

  </div>
</section>