
      
      <mat-card>
          <form class="row" [formGroup]="ScheduleForm" (ngSubmit)="onSubmit()">
          

            
            <div class="col-sm-2">
              <mat-form-field>
          
                <input [min]="current" #abc [max]="ScheduleForm.controls.dateEnd?.value" matInput [matDatepicker]="picker1"
                  placeholder="From" formControlName="date">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
                <mat-error>
                  required
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-sm-2">
              <mat-form-field>
                <input [min]="start" #abc [min]="ScheduleForm.controls.date?.value" [max]="endDate" matInput
                  [matDatepicker]="picker2" placeholder="To" formControlName="dateEnd">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
                <mat-error>
                  required
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-sm-3">
              <mat-form-field>
                <mat-select placeholder="Granularity" formControlName="granularity">
                  <mat-option *ngFor="let x of granularityValue" [value]="x.value">
                    {{x.viewValue}}
                  </mat-option>
                </mat-select>
                <mat-error>
                  required
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-sm-3">
              <mat-form-field>
                <mat-select #sum placeholder="Forecast Type" multiple>
                  <mat-option *ngFor="let x of summarization" [value]="x.value">
                    {{x.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-sm-2 d-flex align-items-center">
              <button (click)="toggle()" class=" btn-search font-styling" mat-raised-button>Search</button>
            </div>
          
          </form>
      </mat-card>

      <div class="row m-0" *ngIf="show">
              <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 new_charts">
                  <canvas id="myChart" width="900" height="300"></canvas>
              </div>
          </div>
      <mat-card *ngIf="show">
              
          <div class="example-container table-container mat-elevation-z2">
              <table mat-table [dataSource]="demoDataSource" multiTemplateDataRows class="abc">
                  <!-- <ng-container matColumnDef="1">
                    <th mat-header-cell *matHeaderCellDef> Date1</th>
                    <td mat-cell *matCellDef="let element"> {{element?.date }} </td>
                </ng-container>
                <ng-container matColumnDef="2">
                    <th mat-header-cell *matHeaderCellDef> Month </th>
                    <td mat-cell *matCellDef="let element"> {{element?.month }} </td>
                </ng-container>
                <ng-container matColumnDef="3">
                    <th mat-header-cell *matHeaderCellDef> Year </th>
                    <td mat-cell *matCellDef="let element"> {{element?.year }} </td>
                </ng-container>
                <ng-container matColumnDef="4">
                    <th mat-header-cell *matHeaderCellDef>South </th>
                    <td mat-cell *matCellDef="let element"> {{element?.predictions_south }} </td>
                </ng-container>
                <ng-container matColumnDef="5">
                    <th mat-header-cell *matHeaderCellDef>North </th>
                    <td mat-cell *matCellDef="let element"> {{element?.predictions_north }} </td>
                </ng-container>
                <ng-container matColumnDef="6">
                    <th mat-header-cell *matHeaderCellDef> West</th>
                    <td mat-cell *matCellDef="let element"> {{element?.predictions_west }} </td>
                </ng-container>
                <ng-container matColumnDef=7>
                    <th mat-header-cell *matHeaderCellDef> Houstan</th>
                    <td mat-cell *matCellDef="let element"> {{element?.predictions_houston }} </td>
                </ng-container>
                <ng-container matColumnDef=8>
                    <th mat-header-cell *matHeaderCellDef> Total</th>
                    <td mat-cell *matCellDef="let element"> {{element?.total }} </td>
                </ng-container> -->
      
                  <ng-container matColumnDef="222">
                      <th mat-header-cell *matHeaderCellDef> View Details </th>
                      <td mat-cell *matCellDef="let element">
                          <a matTooltip="View Graph" color="accent" (click)="toggle1(element)">
                              <i class="fa fa-file-signature " style="font-size: 24px;color:#3d6889!important"></i>
                          </a>
                      </td>
                  </ng-container>
      
                  <ng-container matColumnDef="1">
                      <th mat-header-cell *matHeaderCellDef> Date</th>
                      <td mat-cell *matCellDef="let element"> {{element?.date }} </td>
                  </ng-container>
                  <ng-container matColumnDef="2">
                      <th mat-header-cell *matHeaderCellDef> Month </th>
                      <td mat-cell *matCellDef="let element"> {{element?.month }} </td>
                  </ng-container>
                  <ng-container matColumnDef="3">
                      <th mat-header-cell *matHeaderCellDef> Year </th>
                      <td mat-cell *matCellDef="let element"> {{element?.year }} </td>
                  </ng-container>
                  <ng-container matColumnDef="4">
                      <th mat-header-cell *matHeaderCellDef>South </th>
                      <td mat-cell *matCellDef="let element"> {{element?.predictions_south }} </td>
                  </ng-container>
                  <ng-container matColumnDef="5">
                      <th mat-header-cell *matHeaderCellDef>North </th>
                      <td mat-cell *matCellDef="let element"> {{element?.predictions_north }} </td>
                  </ng-container>
                  <ng-container matColumnDef="6">
                      <th mat-header-cell *matHeaderCellDef> West</th>
                      <td mat-cell *matCellDef="let element"> {{element?.predictions_west }} </td>
                  </ng-container>
                  <ng-container matColumnDef=7>
                      <th mat-header-cell *matHeaderCellDef> Houstan</th>
                      <td mat-cell *matCellDef="let element"> {{element?.predictions_houston }} </td>
                  </ng-container>
                  <ng-container matColumnDef=8>
                      <th mat-header-cell *matHeaderCellDef> Total</th>
                      <td mat-cell *matCellDef="let element"> {{element?.total }} </td>
                  </ng-container>
                  <!-- <ng-container matColumnDef="expandedDetail">
                    <td mat-cell *matCellDef="let element" [attr.colspan]="demoDisplayedColumns.length">
                        <div class="element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt quasi voluptates laudantium et
                                quam accusamus doloremque doloribus maxime, odio illum, ab nemo. Delectus, molestiae obcaecati
                                velit enim odit eos sapiente?</p>
                        </div>
                    </td>
                </ng-container> -->
      
                  <tr mat-header-row *matHeaderRowDef="demoDisplayedColumns; sticky: true"></tr>
                  <tr mat-row *matRowDef="let row; columns: demoDisplayedColumns; "></tr>
      
              </table>
          </div>
      </mat-card>
      
      
      
      
      
      
      <!-- </mat-card> -->