<mat-card>

    <form [formGroup]="Form">
      <div class="HourItem">
        <section class="example-section" class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <label class="example-margin">Buy/Sell:</label>
          <mat-radio-group  formControlName="buy">
            <mat-radio-button color="primary" value="Buy" checked="true">Buy</mat-radio-button>
            <mat-radio-button color="primary" value="Sell">Sell</mat-radio-button>
            <mat-radio-button color="primary" value="Either">Either</mat-radio-button>
          </mat-radio-group>
        </section>

        <section class="example-section" class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <label class="example-margin">Call/Put:</label>
            <mat-radio-group  formControlName="call">
              <mat-radio-button color="primary" value="Call" checked="true">Call</mat-radio-button>
              <mat-radio-button color="primary" value="Put">Put</mat-radio-button>
              <mat-radio-button color="primary" value="Either">Either</mat-radio-button>
            </mat-radio-group>
          </section>
  
        <mat-form-field class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <input matInput placeholder="Trade Name" formControlName="tradename">
          <mat-error>
            required
          </mat-error>
        </mat-form-field>
        <mat-form-field class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <input matInput placeholder="Trading book" formControlName="book">
          <mat-error>
            required
          </mat-error>
        </mat-form-field>
        <mat-form-field class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <input matInput placeholder="Location" formControlName="location">
          <mat-error>
            required
          </mat-error>
        </mat-form-field>
  
        <mat-form-field class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
          <input matInput [matDatepicker]="picker1" placeholder="Flow Time Start" formControlName="flowtime_start">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
          <mat-error>
            required
          </mat-error>
        </mat-form-field>
        <mat-form-field class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
          <input matInput [matDatepicker]="picker2" placeholder="Flow Time End" formControlName="flowtime_end">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
          <mat-error>
            required
          </mat-error>
        </mat-form-field>
  
        <mat-form-field class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
          <input matInput [matDatepicker]="picker3" placeholder="Trade Date Start" formControlName="tradedate_start">
          <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
          <mat-datepicker #picker3></mat-datepicker>
          <mat-error>
            required
          </mat-error>
        </mat-form-field>
  
        <mat-form-field class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
          <input matInput [matDatepicker]="picker4" placeholder="Trade Date End" formControlName="tradedate_end">
          <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
          <mat-datepicker #picker4></mat-datepicker>
          <mat-error>
            required
          </mat-error>
        </mat-form-field>
  
        <mat-form-field class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <input matInput placeholder="CounterParty" formControlName="counterparty">
          <mat-error>
            required
          </mat-error>
        </mat-form-field>
        <mat-form-field class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <input matInput placeholder="Agreement" formControlName="agreement">
          <mat-error>
            required
          </mat-error>
        </mat-form-field>
        <mat-form-field class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <input matInput placeholder="Shape" formControlName="shape">
          <mat-error>
            required
          </mat-error>
        </mat-form-field>
        <mat-form-field class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <input matInput placeholder="DBA" formControlName="dba">
          <mat-error>
            required
          </mat-error>
        </mat-form-field>
  
  
        <mat-form-field class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <input matInput placeholder="Fixed Price" formControlName="fixedprice">
          <mat-error>
            required
          </mat-error>
        </mat-form-field>
        <mat-form-field class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <input matInput placeholder="Power Index Price List" formControlName="indexpricelist">
          <mat-error>
            required
          </mat-error>
        </mat-form-field>
        <mat-form-field class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <input matInput placeholder="MW Amount" formControlName="mwamount">
          <mat-error>
            required
          </mat-error>
        </mat-form-field>
        <mat-form-field class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <input matInput placeholder="Price Description" formControlName="description">
          <mat-error>
            required
          </mat-error>
        </mat-form-field>
        <mat-form-field class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <input matInput placeholder="Trader" formControlName="trader">
          <mat-error>
            required
          </mat-error>
        </mat-form-field>
        <mat-form-field class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <input matInput placeholder="Unique ID" formControlName="unique">
          <mat-error>
            required
          </mat-error>
        </mat-form-field>
  
        <section class="example-section" class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <label class="example-margin">Status:</label>
            <mat-checkbox class="example-margin" color="primary">Valid</mat-checkbox>
            <mat-checkbox class="example-margin" color="primary">Void</mat-checkbox>
            <mat-checkbox class="example-margin" color="primary">Pending</mat-checkbox>
            <mat-checkbox class="example-margin" color="primary">What-if</mat-checkbox>
          </section>
  
        <div style="text-align:right" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <button style="text-align:center" mat-raised-button>Apply Filter</button>
        </div>
      </div>
    </form>
  </mat-card>