<form [formGroup]="Form">
  <div class="HourItem">
    <mat-form-field class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <mat-label>Time Zone</mat-label>
      <select matNativeControl required>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
      </select>
    </mat-form-field>
    <mat-form-field class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <mat-label>Periodicity</mat-label>
      <select matNativeControl required>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
      </select>
    </mat-form-field>
    <mat-form-field class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
      <input matInput [matDatepicker]="picker1" placeholder="From">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
      <mat-error>
        required
      </mat-error>
    </mat-form-field>
    <mat-form-field class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
      <input matInput [matDatepicker]="picker2" placeholder="Through">
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
      <mat-error>
        required
      </mat-error>
    </mat-form-field>
    <mat-form-field class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <input matInput placeholder="ESIID List">
      <mat-error>
        required
      </mat-error>
    </mat-form-field>
    <section class="example-section" class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <label class="example-margin">Output Format:</label>
      <mat-radio-group>
        <mat-radio-button color="primary" value="Screen" checked="true">Screen</mat-radio-button>
        <mat-radio-button color="primary" value="pdf">PDF</mat-radio-button>
        <mat-radio-button color="primary" value="excel">Excel</mat-radio-button>
      </mat-radio-group>
    </section>
    <div style="text-align:center" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <button style="text-align:center" mat-raised-button class="btn-search font-styling">Search</button>
    </div>
  </div>
</form>