<form [formGroup]="Form">
  <div class="HourItem">
    <mat-form-field class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <input matInput placeholder="ESIID" formControlName="flowtime_start">
      <mat-error>
        required
      </mat-error>
    </mat-form-field>
    <mat-form-field class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <input matInput placeholder="Meter Type" formControlName="flowtime_start">
      <mat-error>
        required
      </mat-error>
    </mat-form-field>
    <mat-form-field class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <input matInput placeholder="Read Status" formControlName="flowtime_start">
      <mat-error>
        required
      </mat-error>
    </mat-form-field>

    <mat-form-field class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
      <input matInput [matDatepicker]="picker1" placeholder="Usage Date Range" formControlName="flowtime_start">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
      <mat-error>
        required
      </mat-error>
    </mat-form-field>
    <mat-form-field class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
      <input matInput [matDatepicker]="picker2" placeholder="Thru" formControlName="flowtime_start">
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
      <mat-error>
        required
      </mat-error>
    </mat-form-field>
    <mat-form-field class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <input matInput placeholder="Unique ID" formControlName="flowtime_start">
      <mat-error>
        required
      </mat-error>
    </mat-form-field>

    <div style="text-align:center" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <button style="text-align:center" mat-raised-button class="btn-search font-styling">Search</button>
    </div>
  </div>
</form>