//search
.btn-search {
  background-color: #000;
  color: #fff;
  margin: 5px 3px;
  border-radius: 20px;
}

//rest of the buttons
.btn1 {
  margin: 5px 3px;
  font-weight: bold;
  color: #544e4e;
  border-radius: 20px;
}

.font-styling {
  font-size: 15px;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
}

//cancel or close
.btn2 {
  background-color: #efefef;
  color: #302e2e;
  margin: 5px 3px;
  border-radius: 20px;
}
