
<form [formGroup]="selectCriteria">
    <div class="card-header col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <h5> Enter & Review Physical Power Trades Selection Criteria</h5>
    </div>
    <div class="responsive-height">
  
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <mat-form-field class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <input matInput placeholder="Fixed Price" formControlName="fixedPrice">
      </mat-form-field>
      <mat-form-field class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <input matInput [matDatepicker]="picker1" placeholder="Flow Time Start">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <input matInput [matDatepicker]="picker2" placeholder="Flow Time End">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <mat-select multiple placeholder="Counterparty" formControlName="counterParty">
          <mat-option [value]="counter.key" *ngFor="let counter of counterParty">{{counter.value}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <mat-select multiple placeholder="Shape" formControlName="shape">
          <mat-option [value]="s.key" *ngFor="let s of shape">{{s.value}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <mat-select placeholder="Trader" formControlName="trader">
          <mat-option [value]="s.key" *ngFor="let s of trader">{{s.value}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <mat-form-field class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <input matInput placeholder="Fixed Heat Rate" formControlName="fixedHeatRate">
      </mat-form-field>
      <mat-form-field class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <input matInput [matDatepicker]="picker3" placeholder="Trade Date Start">
        <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
        <mat-datepicker #picker3></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <input matInput [matDatepicker]="picker4" placeholder="Trade Date End">
        <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
        <mat-datepicker #picker4></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <input matInput placeholder="Trading Book" formControlName="tradingBook">
      </mat-form-field>
      <mat-form-field class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <mat-select multiple placeholder="Agreement" formControlName="agreement">
          <mat-option [value]="s.key" *ngFor="let s of agreement">{{s.value}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <input matInput placeholder="MW Amount" formControlName="mwAmount">
      </mat-form-field>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <mat-form-field class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <input matInput placeholder="Trade Name" formControlName="tradeName">
      </mat-form-field>
      <mat-form-field class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <mat-select multiple placeholder="Location" formControlName="location">
          <mat-option *ngFor="let location of locations" [value]="location.key">
            {{location.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <input matInput placeholder="Price Description" formControlName="priceDescription">
      </mat-form-field>

      <mat-form-field class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <input matInput placeholder="Unique ID" formControlName="uniqueId">
      </mat-form-field>

      <mat-form-field class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <mat-select placeholder="DBA" formControlName="DBA">
          <mat-option [value]="s.key" *ngFor="let s of dba">{{s.value}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="buySell">
        <div>
          <label>Buy/Sell:</label>
          <mat-radio-group formControlName="buySell" class="radio-group1">
            <mat-radio-button class="example-radio-button" *ngFor="let s of buySells" [value]="s">
              {{s}}
            </mat-radio-button>
          </mat-radio-group>
        </div>
        <div>
          <label>Is Option Strikes:</label>
          <mat-radio-group formControlName="IsOptStrike" class="radio-group2">
            <mat-radio-button class="example-radio-button" *ngFor="let s of IsOptStrikes" [value]="s">
              {{s}}
            </mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <div class="buySell">
          <div class="status">
            <label>Status:</label>
            <div *ngFor="let ing of tradeType; let i = index"  class="radio-group2">
              <mat-checkbox [(ngModel)]="ing.checked"  [ngModelOptions]="{standalone: true}">
                {{ing.name}}
              </mat-checkbox>
            </div>
          </div>
          <div>
            <mat-checkbox (change)="updateCheck()" [(ngModel)]="selectAll" [ngModelOptions]="{standalone: true}">
              {{label}}
            </mat-checkbox>
          </div>
        </div>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="dialog-footer">
    <button mat-raised-button type="submit" class="btn-search font-styling">Search</button>
    <button mat-raised-button type="button" class="btn2 font-styling" (click)="close()">Cancel</button>
  </div>
</form>