<mat-card>
    <div class="row">


        <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf="chartData7?.barChartData.length > 0">
            <canvas *ngIf="chartData7.barChartData" width="650" height="350" baseChart [datasets]="chartData7.barChartData" [labels]="chartData7.barChartLabels" [options]="chartData7.barChartOptions" [colors]="chartData7.barChartColors" [chartType]="chartData7.barChartType"></canvas>
        </div> -->



        <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf="chartData2?.barChartData.length > 0">
            <canvas *ngIf="chartData2.barChartData" width="650" height="350" baseChart [datasets]="chartData2.barChartData" [labels]="chartData2.barChartLabels" [options]="chartData2.barChartOptions" [colors]="chartData2.barChartColors" [chartType]="chartData2.barChartType"></canvas>
        </div> -->


        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf="chartData2?.barChartData.length > 0">
            <canvas *ngIf="chartData2.barChartData" width="650" height="350" baseChart [datasets]="chartData2.barChartData" [labels]="chartData2.barChartLabels" [options]="chartData2.barChartOptions" [colors]="chartData2.barChartColors1" [chartType]="chartData2.barChartType"></canvas>
        </div>


    </div>
</mat-card>