#my-div
{
    width    : 222px;
    height   : 200px;
    overflow : hidden;
    position : relative;
}
#my-iframe
{
    position : absolute;
    top      : -28px;
    left     : -17px;
    height: 210px;
}
#my-div2
{
    width    : 222px;
    height   : 225px;
    overflow : hidden;
    position : relative;
}
#my-iframe2
{
    position : absolute;
    top      : -55px;
    left     : -10px;
    height   : 2750px;
}
#my-iframe3
{
    position : absolute;
    top      : -55px;
    left     : -10px;
    height   : 2750px;
}
