<!-- <mat-card>
  <script type="text/javascript" src="https://www.oil-price.net/COMMODITIES/gen.php?lang=en"> </script>
  <p> To get
    <a href="http://www.oil-price.net/dashboard.php?lang=en#COMMODITIES">gold, oil and commodity prices</a>
    , please enable Javascript.
  </p>

</mat-card> -->

<!-- <script type="text/javascript" src="https://www.oil-price.net/TABLE2/gen.php?lang=en"> </script>
<noscript> To get the WTI <a href="http://www.oil-price.net/dashboard.php?lang=en#TABLE2">oil price</a>, please enable Javascript.</noscript>	

https://www.oil-price.net/TABLE2/gen.php?lang=en
{{s}}-->

<!-- <iframe src="https://www.oil-price.net/TABLE2/gen.php?lang=en"></iframe> -->

<!-- <iframe style="position: absolute;top:90px;height:350px;width:300px;overflow: hidden;" scrolling="no" frameborder="0" src="http://www.oil-price.net/dashboard.php?lang=en#TABLE2"></iframe>


<iframe style="position: absolute;top:90px;height:350px;width:300px;overflow: hidden;margin-top:200px" scrolling="no" frameborder="0"
  src="http://www.oil-price.net/dashboard.php?lang=en#TABLE2"></iframe> -->

<mat-card>
  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
      <div id="my-div">
        <iframe src="https://www.oil-price.net/dashboard.php?lang=en#COMMODITIES" id="my-iframe" scrolling="no"></iframe>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
      <div id="my-div2">
        <iframe src="https://www.oil-price.net/dashboard.php?lang=en#TABLE2" id="my-iframe2" scrolling="no"></iframe>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
      <div id="my-div2">
        <iframe src="https://www.oil-price.net/dashboard.php?lang=en#brent_crude_price_large" id="my-iframe2" scrolling="no"></iframe>
      </div>
    </div>
  </div>
  <!-- <div id="my-div2">
    <iframe src="http://www.oil-price.net/dashboard.php?lang=en#COMMODITIES" id="my-iframe3" scrolling="no"></iframe>
  </div> -->
</mat-card>


