<section>
<!--  -->
<div class="dashboard-header">
  <!-- <div class="member_side">
    <p>Member Since :
      <span class="ml-3">4/19/2019</span>
    </p>
  </div> -->
  <!--  -->
  <div>
    <h4 class="heading_sh">
      <b> Energy Wastage  </b>
    </h4>
  </div>
  <!-- <div  class="member_side">
    <p class="m-0">Renewal Date :
      <span class="ml-3">6/19/2020</span>
    </p>
  </div> -->
</div>

  <!--  -->
  <div class="dashboard-body">
    <div class="upper-graphs">
      <!-- Graph Div start -->
      <div class="graph_div">
        <!-- icon and heading  start-->
        <div class="this_week">
          <small>This Week </small>
          <h4> 6.815K </h4>
        </div>
      </div>
      <!-- Graph Div end -->
      <!-- Graph Div start -->
      <div class="graph_div">
          <!-- icon and heading  start-->
          <div class="this_week">
            <small>Always On </small>
            <h4> 2.395K </h4>
          </div>
        </div>
        <!-- Graph Div end -->
              <!-- Graph Div start -->
      <div class="graph_div">
          <!-- icon and heading  start-->
          <div class="this_week">
            <small>Compared To Last Week </small>
            <h4> 2% <i class="fa fa-arrow-down downward_arrow"></i> </h4>
            <!-- <h4> 2% <i class="fa fa-arrow-up downward_arrow dp_none"></i> </h4> -->
          </div>
        </div>
        <!-- Graph Div end -->
    </div>
    <!--  -->
    <div class="lower_graphs">
        <div class="d-flex w-100 m-0">
          
          <div  class=" pr-0  wider_graph">
                  <!-- Graph Div start -->
          <div class="graph_div">
              <!-- icon and heading  start-->
              <div class="this_week">
                <!-- <p class="m-0 mb-1"><b>Heading will be displayed here.</b></p>  -->
              </div>
              <!--  icon and heading end -->
              <div>
                <div>
                 <h4>show Graph here</h4> 
                </div>
              </div>
            </div>
            <!-- Graph Div end -->
          </div>
        </div>
      </div>

  </div>
</section>