.example-button-row{
text-align:center;
// padding: 5px 5px !important;
// // background-color: rgba(0,0,0,0.5)
}
// .mat-stroked-button{
// margin:5px;
// background-color: aliceblue
// }
p{
    font-weight: bold;
    font-size:24px;
}