.header {
    position: fixed;
    background-color: #fff;
    top: 0;
    padding: 15px;
    left: 0;
    width: 100%;
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    z-index: 2;
    height: 50px;
    .logo {
        display: flex;
        padding-left: 15px;
        flex: 1;
        flex-direction: row;
        align-items: center;
        .breadcrumb>li+li:before {
            padding: 0 5px;
            color: #ccc;
            content: "\00a0>\00a0";
            font-size: 24px;
        }
    }
    .margin {
        margin-left: 600px;
    }
    .menu-toggle-btn {
        border: 15px;
        cursor: pointer;
        width: 30px;
        // height: 30px;
        height: 21px;
        span {
            background: #3f51b5;
            display: block;
            width: 30px;
            height: 4px;
            margin-bottom: 5px;
            -webkit-transition: all 0.5s linear;
            transition: all 0.2s linear;
        }
        &.close {
            opacity: .9;
            // span {
            //     background: #cd0000;
            //     &:nth-child(1),
            //     &:nth-child(3) {
            //         transform: translate(0px, 11px) rotate(-45deg) scalex(1.3);
            //         margin: 0;
            //     }
            //     &:nth-child(2) {
            //         height: 0;
            //         margin: 0;
            //     }
            //     &:nth-child(3) {
            //         transform: translate(0px, 8px) rotate(45deg) scalex(1.3);
            //     }
            // }
        }
    }
}

.mat-drawer.mat-drawer-side {
    top: -10px !important;
}

.sideNavContainer {
    background-color: #f4f6fa;
}

.sideNav {
    margin-bottom: 45px;
    margin-top: 60px;
    position: fixed;
    background-color: #fff;
    overflow-y: hidden;
}

.mainDiv {
    margin-top: 70px !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
    margin-bottom: 55px !important;
}

.nav-side-menu {
    width: 280px;
    height: 100%;
}

.nav-side-menu mat-list mat-list-item {
    color: #000;
    font-weight: 500;
    font-size: 15px;
    font-weight: bold;
    transition: 0.3s;
    font-family: 'Open Sans', sans-serif;
}

.nav-side-menu mat-list mat-list-item img {
    color: #000;
    font-size: 20px;
    margin-right: 5px;
}

.nav-side-menu mat-list a {
    color: #000;
    text-decoration: none;
    display: block;
    transition: 0.3s;
}

.nav-side-menu mat-list mat-list-item:hover {
    cursor: pointer;
    transition: 0.2s;
}

.sidebar-dashboard-title {
    padding: 25px 0px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.material-icons {
    cursor: pointer;
    font-size: 35px;
    padding-left: 5px;
    padding-right: 5px;
}

.endDiv {
    display: none;
}

.show {
    display: block;
}

.mat-menu-item {
    text-align: center;
}

::ng-deep .mat-menu-item.mat-menu-item-submenu-trigger::after {
    transform: rotate(180deg);
    top: 40%;
}

::ng-deep .mat-expansion-panel-body {
    padding: 0px 0px 0px 25px !important;
}

.mat-expansion-panel {
    background-color: transparent;
    box-shadow: none !important;
    margin-bottom: 0px;
}

.nav-side-menu mat-expansion-panel mat-expansion-panel-header {
    color: #000;
    font-weight: 500;
    font-size: 16px;
    transition: 0.3s;
    margin-left: -8px;
    font-family: 'Open Sans', sans-serif;
}

.nav-side-menu mat-expansion-panel mat-expansion-panel-header mat-panel-title {
    color: #000;
    font-size: 15px;
    font-weight: bold;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
}

.nav-side-menu mat-expansion-panel a {
    color: #000;
    text-decoration: none;
    display: block;
    transition: 0.3s;
}

.nav-side-menu {
    i {
        width: 25px;
        font-size: 20px;
        margin-right: 5px;
        color: #042863;
    }
}

::ng-deep .mat-expansion-indicator::after {
    color: #000;
}

.mat-list,
.mat-nav-list,
.mat-selection-list {
    padding-top: 0px;
}

.bread {
    flex: 1;
}

.container {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.fluid-bread {
    padding-left: 57px !important;
}

::ng-deep .mat-form-field-infix {
    width: 250px !important;
}

.mat-list-item {
    color: black;
    font-size: 15px;
}

.footerEnd {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-left: 20px;
    height: 45px;
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    z-index: 3;
    width: 100%;
    h4 {
        font-size: 12px;
        // font-style: italic
    }
}

.footerEnd .mat-toolbar {
    background: #3f51b3;
    color: hsl(0, 0%, 0%);
}

@media only screen and (max-width: 600px) {
    .mainDiv {
        margin-bottom: 0px;
    }
    .sideNav {
        margin-bottom: 0px !important;
    }
    .mat-drawer.mat-drawer-side {
        top: -10px !important;
    }
}

@media only screen and (max-width: 768px) {
    .mainDiv {
        margin-bottom: 0px;
    }
    .sideNav {
        margin-bottom: 0px !important;
        top: -10px !important;
    }
    .subMenu {
        display: none
    }
    .mat-drawer.mat-drawer-side {
        top: -10px !important;
    }
}

::ng-deep .mat-list.fit .mat-list-item .mat-list-item-content {
    padding: 10px !important;
}

.mat-divider {
    margin: 0px 15px 0px 15px;
}

::ng-deep .mat-tab-label .mat-tab-label-content {
    font-weight: bold;
}

::ng-deep .is-active {
    // background-color: #4b009f;
    background-color: #042863;
    color: #fff!important;
    border-radius: 5px;
    span {
        color: #fff;
    }
    i {
        color: #fff !important
    }
}