<mat-toolbar class="header mat-elevation-z2">
  <div style="padding-left:15px;"></div>
  <a (click)="drawer.toggle(); this.btnStatus = !this.btnStatus">
    <div [ngClass]="btnStatus ? 'close' : ''" class="menu-toggle-btn">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </a>
  <div class="logo">
    <a routerLink="/" style="text-decoration: none;">
      <!-- <img routerLink="/" src="../../../assets/img/WattExpertAI.png" alt="logo" width='185'>  -->
      <img routerLink="/" src="../../../assets/img/wtg.jpeg" alt="logo" width='185'>
    </a>
    <!-- <h1 style="font-size:32px;font-weight:800;">
        <span style="color:#2e2566">WTG</span>
        <span style="color:#d00000">W</span>
        <span style="color:#2e2566">TG ENERGY</span>
      </h1> -->

    <!-- <mat-toolbar> -->
    <!-- <div *ngFor="let x of menuItems">
          <span *ngIf="x.submenu.length == 0">
            <button routerLink="{{x.route}}" mat-button [matMenuTriggerFor]="menu">
              <i style="font-size:18px;" class="{{x.icon}}"></i>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item></button>
            </mat-menu>
          </span>
          <span *ngIf="x.submenu.length != 0">
            <button routerLink="{{x.route}}" mat-button [matMenuTriggerFor]="menu">
              <i style="font-size:18px;" class="{{x.icon}}"></i>
            </button>
            <mat-menu #menu="matMenu">
              <span *ngFor="let y of x.submenu">
                <button mat-menu-item [matMenuTriggerFor]="menu">
                  <i style="font-size:18px;" class="{{y.icon}}"></i>
                </button>
                <mat-menu #menu="matMenu" *ngIf="y.submenu.length != 0">
                  <span *ngFor="let z of y.submenu">
                    <button mat-menu-item>
                      <i style="font-size:18px;" class="{{z.icon}}"></i>
                    </button>
                  </span>
                </mat-menu>
              </span>
            </mat-menu>
          </span>
        </div> -->

    <span class="margin">
      <div>
        <h2 class="text-center heading_sh">{{header_name}}</h2>
      </div>
      <button routerLink="/ercot-load" (click)="get_local('ERCOT Load')" mat-button matTooltip="ERCOT Load">
        <img src="../../../assets/img/sidebar/ERCOT Load.png" alt="img" />
      </button>
      <button routerLink="/forecastertool" (click)="get_local('WattExpert Al Review Forecast')" mat-button
        matTooltip="Review Forecast">
        <img src="../../../assets/img/sidebar/review forecaste.png" alt="img" />
      </button>
      <button routerLink="/review-customer-count" (click)="get_local('Review Customer Count')" mat-button
        matTooltip="Review Customer Counts">
        <img src="../../../assets/img/sidebar/review-ams-interval.png" alt="img" />
      </button>
      <button routerLink="/maturity-forecast" (click)="get_local('Maturity Forecast')" mat-button
        matTooltip="Maturity Date Forecast Reports">
        <img src="../../../assets/img/sidebar/review forecaste.png" alt="img" />
      </button>
      <button routerLink="/weather-zone-forecast" (click)="get_local('Weather Zone Forecast')" mat-button
        matTooltip="Weather Zone Forecast">
        <img src="../../../assets/img/sidebar/weather-zone-forecast.png" alt="img" />
      </button>
      <button routerLink="/weather-zone-actual" (click)="get_local('Weather Zone Actual')" mat-button
        matTooltip="Weather Zone Actual">
        <img src="../../../assets/img/sidebar/weather-zone-actual.png" alt="img" />

      </button>
    </span>
    <!-- </mat-toolbar> -->

  </div>

  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu" class="">
    <!-- <button mat-menu-item>
      <span style="text-align: left;color: black;font-size: 15px;font-weight: bold">Setting</span>
    </button> -->
    <button mat-menu-item routerLink="." (click)="logOut()">
      <span style="color: black;font-size: 15px;font-weight: bold">Sign Out</span>
    </button>
  </mat-menu>
</mat-toolbar>

<mat-sidenav-container class="sideNavContainer" fullscreen>
  <mat-sidenav #drawer [fixedInViewport]="true" [mode]="mobileQuery.matches ? 'over' : 'side'" opened="true"
    class="sideNav mat-elevation-z2">
    <div class="nav-side-menu">
      <ul class="d-flex flex-column p-2 sidebarUl">
        <!--  -->
        <li class="">
         <a  routerLink="/">
            <img src="../../../assets/img/sidebar/Dashboard.png" alt="img"> Dashboard
          </a>
        </li>
        <!--  -->
        <li>
          <div class="d-flex align-items-center justify-content-between " (click)="toggleHome()">
            <a >
              <img src="../../../assets/img/sidebar/Home.png" alt="img"> Home
            </a>
            <span>
              <i class="fa fa-angle-down Dropdown-icon1"></i>
            </span>
          </div>
          <!-- Home Dropdown start -->
          <ul class="dropdown2">
            <li>
              <div class="d-flex align-items-center justify-content-between" (click)="toggledashboard()">
               <a   (click)="get_local('Dashboard')">
                  <img src="../../../assets/img/sidebar/Dashboard.png" alt="img"> Dashboard
                </a>
                <span>
                  <i class="fa fa-angle-down Dropdown-icon3"></i>
                </span>
              </div>

              <ul class="dropdown3">
                <li>
                 <a  href="http://www.ercot.com/content/cdr/html/actual_loads_of_weather_zones" target="_blank">
                    <img src="../../../assets/img/sidebar/ERCOT Load.png" alt="img"> ERCOT Load
                  </a>
                </li>
                <li>
                 <a  routerLink="/louren" (click)="get_local('Load Graphs')">
                    <img src="../../../assets/img/sidebar/Load Graphs.png" alt="img"> Load Graphs
                  </a>
                </li>
              </ul>
              <!--  -->
            </li>
            <li>
             <a  routerLink="/esiid-lookup" (click)="get_local('ESIID Lookup')">
                <img src="../../../assets/img/sidebar/ESIID Lookup.png" alt="img"> ESIID Lookup
              </a>
            </li>
          </ul>
          <!-- Home Dropdown end -->
        </li>
        <!--  -->
        <li>
          <div class="d-flex align-items-center justify-content-between" (click)="toggleWattExpertForecast()">
           <a  >
              <img src="../../../assets/img/sidebar/WattExpert Al Forecast.png" alt="img"> WattExpert Forecast
            </a>
            <span>
              <i class="fa fa-angle-down Dropdown-icon4"></i>
            </span>
          </div>
          <!--  -->
          <ul class="dropdown4">
            <li>
              <a  routerLink="/forecastertool" (click)="get_local('WattExpert Al Review Forecast')" class="d-flex align-items-center">
                <div>
                  <img src="../../../assets/img/sidebar/review-esiid-service-history-component.png" alt="img">
                </div>
                <div>
                  WattExpert Al Review Forecast
                </div>
              </a>
            </li>
            <li>
             <a  routerLink="/MonthlyForecast" (click)="get_local('Monthly Forecast')">
                <img src="../../../assets/img/sidebar/Monthly.png" alt="img"> Monthly Forecast
              </a>
            </li>
            <li>
             <a  routerLink="/HourlyForecast" (click)="get_local('Hourly Forecast')">
                <img src="../../../assets/img/sidebar/Hourly.png" alt="img"> Hourly Forecast
              </a>
            </li>
            <li>
             <a  routerLink="/DateRangeForecast" (click)="get_local('DateRange Forecast')">
                <img src="../../../assets/img/sidebar/review forecaste.png" alt="img"> DateRange Forecast
              </a>
            </li>
            <li>
             <a  routerLink="/weather-zone-forecast" (click)="get_local('Weather Zone Forecast')">
                <img src="../../../assets/img/sidebar/weather-zone-forecast.png" alt="img"> Weather Zone Forecast
              </a>
            </li>
            <li>
             <a  routerLink="/weather-zone-actual" (click)="get_local('Weather Zone Actual')">
                <img src="../../../assets/img/sidebar/weather-zone-actual.png" alt="img"> Weather Zone Actual
              </a>
            </li>
          </ul>
          <!--  -->
        </li>
        <!--  -->
        <!--  -->
        <li>
          <div class="d-flex align-items-center justify-content-between" (click)="toggleIndividualCustomerForecast()">
              <a class="d-flex align-items-center">
                <div>
                    <img src="../../../assets/img/sidebar/maturity-forecast.png" alt="img"> 
                </div>
                <div>
                    Individual Customer Forecast
                </div>
            </a>
            <span>
              <i class="fa fa-angle-down Dropdown-icon5"></i>
            </span>
          </div>

          <!--  -->
          <ul class="dropdown5">
            <li>
             <a  routerLink="/dailyenergy" (click)="get_local('Daily Energy Monitoring')">
                <img src="../../../assets/img/sidebar/Monthly.png" alt="img"> Daily Energy Monitoring
              </a>
            </li>
            <li>
             <a  routerLink="/weekly-comparison" (click)="get_local('Weekly Comparison')">
                <img src="../../../assets/img/sidebar/SCR-727 Data Mart.png" alt="img"> Weekly Comparison
              </a>
            </li>
            <li>
             <a  routerLink="/energy-spikes" (click)="get_local('Energy Spikes')">
                <img src="../../../assets/img/sidebar/review-esiid-service-history-component.png" alt="img"> Energy
                Spikes
              </a>
            </li>
            <li>
             <a >
                <img src="../../../assets/img/sidebar/WattExpert Al Forecast.png" alt="img"> Weather Related Events
              </a>
            </li>
          </ul>
          <!--  -->
        </li>
        <!--  -->
        <!--  -->
        <li>
          <div class="d-flex align-items-center justify-content-between" (click)="toggleCompanyForecast()">
            <a class="d-flex align-items-center">
              <div>
                <img src="../../../assets/img/sidebar/review-esiid-usage-meter-reads-component.png" alt="img">
              </div>
              <div>
                Company Forecast (For ALL Customers)
              </div>
            </a>
            <span>
              <i class="fa fa-angle-down Dropdown-icon6"></i>
            </span>
          </div>
          <!--  -->
          <ul class="dropdown6">
            <li>
             <a  routerLink="/dailyenergy" (click)="get_local('Daily Energy Monitoring')">
                <img src="../../../assets/img/sidebar/weather-zone-actual.png" alt="img"> Daily Energy Monitoring
              </a>
            </li>
            <li>
             <a  routerLink="/weekly-comparison" (click)="get_local('Weekly Comparison')">
                <img src="../../../assets/img/sidebar/maturity-forecast.png" alt="img"> Weekly Comparison
              </a>
            </li>
            <li>
             <a  routerLink="/energy-spikes" (click)="get_local('Energy Spikes')">
                <img src="../../../assets/img/sidebar/review-esiid-usage-meter-reads-component.png" alt="img"> Energy
                Spikes
              </a>
            </li>
            <li>
             <a  routerLink="/" (click)="get_local('Weather Related Events')">
                <img src="../../../assets/img/sidebar/WattExpert Al Forecast.png" alt="img"> Weather Related Events
              </a>
            </li>
          </ul>
          <!--  -->
        </li>
        <!--  -->
        <!--  -->
        <li>
          <div class="d-flex align-items-center justify-content-between" (click)="toggleDataMart()">
           <a   >
              <img src="../../../assets/img/sidebar/SCR-727 Data Mart.png" alt="img"> SCR-727 Data Mart
            </a>
            <span>
              <i class="fa fa-angle-down Dropdown-icon7"></i>
            </span>
          </div>
          <!--  -->
          <ul class="dropdown7">
            <li>
              
             <a  routerLink="/esiid-count" (click)="get_local('ESIID Counts')">
                <img src="../../../assets/img/sidebar/ESIID Lookup.png" alt="img"> ESIID Counts
              </a>
            </li>
            <li>
              <a   routerLink="/review-esiid-service-history-component"  (click)="get_local('Review ESIID Service History')" class="d-flex align-items-center">
                <div>
                  <img src="../../../assets/img/sidebar/esiid-count.png" alt="img">
                </div>
                <div>
                  Review ESIID Service History
                </div>
              </a>
            </li>
            <li>
                <a  routerLink="/review-esiid-usage-meter-reads-component" (click)="get_local('  Review ESIID Usage (Meter Reads)')" class="d-flex align-items-center">
                    <div>
                        <img src="../../../assets/img/sidebar/maturity-forecast.png" alt="img">
                    </div>
                    <div>
                        Review ESIID Usage (Meter Reads)
                    </div>
                  </a>
            </li>
            <li>
              <a routerLink="/review-ams-interval"  (click)="get_local('Review AMS Interval Data')" class="d-flex align-items-center">
                <div>
                  <img src="../../../assets/img/sidebar/review-ams-interval.png" alt="img">
                </div>
                <div>
                  Review AMS Interval Data
                </div>
              </a>
            </li>
          </ul>
          <!--  -->
        </li>
        <!--  -->
        <li>
         <a  routerLink="/">
            <i class="fas fa-sign-out-alt"></i> Sign Out
          </a>
        </li>
      </ul>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <!--  -->
    <!-- <mat-toolbar class="subMenu mat-elevation-z2" style="height:50px;justify-content:center;margin-top:45px;margin-bottom:-50px;"> -->
    <!-- <div *ngFor="let x of menuItems">
        <span *ngIf="x.submenu.length == 0">
          <button routerLink="{{x.route}}" mat-button [matMenuTriggerFor]="menu">
            <i style="font-size:18px;" class="{{x.icon}}"></i>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item></button>
          </mat-menu>
        </span>
        <span *ngIf="x.submenu.length != 0">
          <button routerLink="{{x.route}}" mat-button [matMenuTriggerFor]="menu">
            <i style="font-size:18px;" class="{{x.icon}}"></i>
          </button>
          <mat-menu #menu="matMenu">
            <span *ngFor="let y of x.submenu">
              <button mat-menu-item [matMenuTriggerFor]="menu">
                <i style="font-size:18px;" class="{{y.icon}}"></i>
              </button>
              <mat-menu #menu="matMenu" *ngIf="y.submenu.length != 0">
                <span *ngFor="let z of y.submenu">
                  <button mat-menu-item>
                    <i style="font-size:18px;" class="{{z.icon}}"></i>
                  </button>
                </span>
              </mat-menu>
            </span>
          </mat-menu>
        </span>
      </div> -->
    <!-- <span>
        <button routerLink="/ercot-load" mat-button matTooltip="ERCOT Load">
          <i style="font-size:18px;" class="fas fa-window-restore"></i>
        </button>
        <button routerLink="/forecastertool" mat-button matTooltip="Review Forecast">
          <i style="font-size:18px;" class="fab fa-wpforms"></i>
        </button>
        <button routerLink="/review-customer-count" mat-button matTooltip="Review Customer Counts">
          <i style="font-size:18px;" class="fa fa-clipboard"></i>
        </button>
        <button routerLink="/maturity-forecast" mat-button matTooltip="Maturity Date Forecast Reports">
          <i style="font-size:18px;" class="fas fa-file-signature"></i>
        </button>
        <button routerLink="/weather-zone-forecast" mat-button matTooltip="Weather Zone Forecast">
          <i style="font-size:18px;" class="fas fa-cloud-sun"></i>
        </button>
        <button routerLink="/weather-zone-actual" mat-button matTooltip="Weather Zone Actual">
          <i style="font-size:18px;" class="fas fa-cloud-meatball"></i>
        </button>
      </span>
        </mat-toolbar> -->

    <div class="mainDiv">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
<div class="d-none d-sm-block">
  <mat-toolbar class="footerEnd">
    <span>
      <h4> Copyright © {{year}} Powered by WattExpert.AI, All Rights Reserved.
        <span >
          <a routerLink="/" style="color:#000;text-decoration: none;">Terms of Use</a> |
          <a routerLink="/" style="color:#000;text-decoration:none;">Privacy Policy</a>
        </span>
      </h4>
    </span>
    <div>
      <a href="/" >
              <img style='height: 32px;' src="https://www.influexpai.com/assets/Artboard%2014.svg">
          </a>
    </div>
  </mat-toolbar>
</div>