::ng-deep .contains {
    .mat-form-field-appearance-legacy .mat-form-field-underline {
        height: 0px !important;
    }
    .mat-form-field-type-mat-native-select.mat-form-field-disabled .mat-form-field-infix::after,
    .mat-input-element:disabled {
        color: #333
    }
    .mat-card {
        padding: 16px 16px 0px 16px !important;

    }
}

.container-fluid{
    margin-top:10px;
}
@media (max-width:540px){
  .sm_text_center{
    text-align: center;
  }
}
