
  table{
    width:1300px;
  }
.abc{
    min-width: 100%;
    max-width: 100%;
}
.tab-animate{
  @extend .abc
}
.table-container {
  max-height: calc(100vh - 335px);
}

@media screen and (max-width: 804px) {
  .table-container {
      max-height: calc(100vh - 310px);
  }
}
  
  