.abc{
    min-width: 100%;
    max-width: 100%;
}
.select{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 5px;
   
}
.btn {
  
  font-weight: bold;
  margin-left: 4px;
margin-top: 15px;
}
 .btn1 {
  background: linear-gradient(90deg,#042863 0,#0a97d2 100%)!important;
        color: #fff;
        font-weight: bold;
        margin-left: 4px;
    margin-top: 15px;
      }
  .bts{
    margin-top: 6px;
  }
    label {
      padding: 4px;
      font-weight: 550;
      margin-bottom: 4px;
    }
  
    .btn2 {
      color: #504747;
      font-weight: bold;
      margin-left: 6px;
    }
    .filter{
      margin-bottom: 5px;
    }
